<!--
  Generated template for the CartazPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="estado" (ionChange)="buscaCidade($event)">
          <ion-option *ngFor="let state of lista_state" [value]="state.uf">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="cityid" (ionChange)="buscaCinema($event)">
            <ion-option *ngFor="let cidade of lista_cidade " [value]="cidade.id">{{cidade.name}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label>Cinema</ion-label>
      <ion-select [(ngModel)]="cine"  (ionChange)="buscaData($event)">
          <ion-option *ngFor="let cinema of lista_cinema " [value]="{id: cinema.id, corpotarion: cinema.corporation, cityid: cityid}">{{cinema.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Data</ion-label>
        <ion-select [(ngModel)]="datas" (ionChange)="buscaCartaz($event)" multiple="false">
            <ion-option *ngFor="let data of lista_data " [value]="{cinema:cine, data: data.date}">{{data.dayOfWeek + ' ' + data.dateFormatted}}</ion-option>
        </ion-select>
      </ion-item>
 
  </ion-list>
</ion-content>