<!--
  Generated template for the CartazPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let filmes of lista_filme">

    <ion-item>
      <!--<ion-avatar item-start>
            <img src="img/marty-avatar.png">
          </ion-avatar>
        -->
      <h2 class="login_title">{{ filmes.title }}</h2>
    </ion-item>

    <img [src]="filmes.images[0].url">

    <ion-card *ngFor="let filmes of lista_rooms">
        <ion-card-content>
          <h2>Salas Disponíveis</h2>
      <p>{{ filmes.name }}</p>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (tap)="likeEvent($event)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ tap }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
      <button ion-button icon-left clear small (tap)="deslikeEvent($event)">
        <ion-icon name="thumbs-down" [style.color]="'#ff0000'"></ion-icon>
        <div [style.color]="'#ff0000'">{{ deslike }} Deslike</div>
      </button>
    </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
    <button ion-button block (click)="abrirDetalhes(filmes.id)">Detalhes</button>
  </ion-card>



</ion-content>